*
{
    margin: 0;
    padding: 0;
}

html {
  background-color: rgb(32, 34, 41);
}

body {
  margin: 0;
  padding: 0;
}

.webgl{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffeded;
  text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}
